#Windows Thumbnails ignorieren
Thumbs.db

#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

build/
MSVS2012/Gra-Fisch 1.vcxproj.filters
MSVS2012/Gra-Fisch 1.opensdf
MSVS2012/Gra-Fisch 1.sdf
